# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Testing
# ==========================
.pytest_cache/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# ==========================
# Database
# ==========================
*.sqlite
*.sqlite3
*.db

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Build / Distribution
# ==========================
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Misc
# ==========================
*.bak
*.orig